$themes: (
  'bbento': (
    'primary': $blue-stone,
  ),
  'uob-msig': (
    'primary': $dodger-blue,
    'secondary': $midnight-blue,
  ),
  'default': (),
);

$theme: 'default' !default;
$theme-colors: map-get($themes, $theme);
